    @charset "UTF-8";
    @font-face {
    font-family: 'vava';
    src: url('../fontes/Valorant\ Font.ttf') format('truetype');
  }
  
* {
    padding: 0px;
    margin: 0px; 
    font-family: 'vava', Helvetica, sans-serif;
    list-style-type: none;
    color: #fff;
}

.gradient{
    background: linear-gradient(40deg, rgb(255, 11, 11), rgb(0, 102, 255), #5b0097, #fdae03);
    height: 60vh;
    width: 100vw;
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}

@keyframes colors{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    
}

.logo {
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}

.nav-list  {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
     list-style: none;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 10px;

}

.nav-link:hover {
    border-radius: 30px;
    transition: 0.3s;
    background-color: red;
}

.mobile-menu {
    display: none;
}

.mobile-menu-icone {
    display: none;
}

.logo > a {
    text-decoration: none;

}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    border: 5px rgb(255, 0, 0);
}

.titulo {
    padding-right: 50px;
   padding-left: 50px;
    
    font-size: 3em;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.671);
    
}

#video1 {
width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


